@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size:100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	width: 100%;
	height: auto;
}

html{
    scroll-behavior: smooth;
}


/* Body */

body{
    background-color: rgb(138, 136, 136);
}

.body_wrapper{
    max-width: 70.972vw;
    margin: 0 auto;
    background-color: white;
}

/* Main */

.main_wrapper{
    display: flex;
}

.main_left__container{
    background-color: #E8EAEE;
    min-width: 24.306vw;
}

.left_container__wrapper{
    max-width: 17.361vw;
    padding: 2.778vw 0.764vw 0 3.125vw;
}

.right_container__wrapper{
    padding: 2.778vw 0 0 2.083vw ;
}

/* InfoMe */

.infoMe{
    padding-bottom: 2.083vw;
}

.infoMe_title{
    font-family: 'Inter', sans-serif;
    font-size: 2.083vw;
    font-weight: 700;
    color: #5C6168;
    letter-spacing: 0.208vw;
}

.infoMe_specialty{
    font-family: 'Inter', sans-serif;
    font-size: 1.181vw;
    font-weight: 400;
    color: #5C6168;
    margin-top: 0.694vw;
}

.infoMe_location{
    display: flex;
    align-items: center;
    margin-top: 0.556vw;
}

.infoMe_location__icon{
    width: 1.39vw;
    height: 1.9vw;
    background: url(./img/location_icon/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.556vw;
}

.infoMe_location__text{
    font-family: 'Inter', sans-serif;
    font-size: 1.181vw;
    font-weight: 400;
    color: #5C6168;
}

/* Education */

.education{
    padding-bottom: 2.083vw;
}

.section_left__title{
    font-family: 'Inter', sans-serif;
    font-size: 1.528vw;
    font-weight: 700;
    color: #5C6168;
    letter-spacing: 0.248vw;
    position: relative;
    z-index: 2;
}

.section_left__title::before{
    content: '';
    display: block;
    position: absolute;
    width: 4.083vw;
    height: 0.22vw;
    background-color: #5C6168;
    top: 2.431vw;
}

.education_suptitle{
    font-family: 'Inter', sans-serif;
    font-size: 1.389vw;
    font-weight: 600;
    color: #5C6168;
    margin-top: 2.431vw;
}

.education_years{
    font-family: 'Inter', sans-serif;
    font-size: 1.181vw;
    font-weight: 400;
    color: #5C6168;
    margin-top: 0.694vw;
}

.education_university{
    font-family: 'Inter', sans-serif;
    font-size: 1.181vw;
    font-weight: 400;
    color: #5C6168;
    margin-top: 1.042vw;
    line-height: 1.389vw;
}

.education_faculty{
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    font-weight: 400;
    color: #5C6168;
    padding: 0.694vw 0 0 0.694vw;
}

.education_coursesName{
    font-family: 'Inter', sans-serif;
    font-size: 1.389vw;
    font-weight: 400;
    color: #5C6168;
    margin-top: 1.042vw;
    line-height: 1.389vw;
}

.education_coursesDirection{
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    font-weight: 400;
    color: #5C6168;
    padding: 0.694vw 0 0 0.694vw;
}

/* Skills */

.skills_item{
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.389vw;
    color: #5C6168;
    background-image: url(./img/skills_icon/HTML-icon.svg);
    background-size: 2.778vw;
    min-height: 2.778vw;
    background-repeat: no-repeat;
    padding-left: 4.167vw;
    text-transform: uppercase;
    margin-bottom: 2.778vw;
}

.css{
    background-image: url(./img/skills_icon/Css-icon.svg);
}

.js{
    background-image: url(./img/skills_icon/JS-icon.svg);
}

.git{
    background-image: url(./img/skills_icon/Git-icon.svg);
}

.figma{
    background-image: url(./img/skills_icon/Figma-icon.svg);
}

.sass{
    background-image: url(./img/skills_icon/Sass_icon.svg);
}

.skills_list{
    margin-top: 2.431vw;
}

/* MyCard */

.myCard_info{
    padding-bottom: 2.083vw;
}

.myCard_photo{
    width: 8.889vw;
    height: 8.889vw;
    background-image: url(./img/My_photo/My_photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin-right: 1.736vw;
}



.myCard_item{
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.694vw;
    color: #5C6168;
    background-image: url(./img/contact_icon/Email_icon.svg);
    background-size: 1.042vw;
    min-height: 2.778vw;
    background-repeat: no-repeat;
    padding-left: 1.9vw;
    text-transform: uppercase;
    background-position: 0.347vw;
}

.Phone{
    background-image: url(./img/contact_icon/Phone_icon.svg);
    font-size: 0.894vw;
}

.Link{
    background-image: url(./img/contact_icon/Link_icon.svg);
}

.Github{
    background-image: url(./img/contact_icon/Git_icon.svg);
    background-size: 1.542vw;
    background-position: 0.139vw;
}

.myCard_link{
    text-decoration: none;
    color: #5C6168;
}

.myCard_info__wrapper{
    display: flex;
    align-items: center;
}


/* About */

.aboutMe{
    padding-bottom: 2.083vw;
}

.aboutMe_text{
    max-width: 30.208vw;
    margin-top: 2.431vw;
    font-family: 'Inter', sans-serif;
    font-size: 1.042vw;
    color: #5C6168;
    font-weight: 400;
    line-height: 1.389vw;
}

/* Strengths */

.strengths{
    padding-bottom: 2.083vw;
}

.strengths_wrapper{
    display: flex;
    margin-top: 2.431vw;
}

.strengths_list{
    line-height: 1.736vw;
    margin-right: 2.431vw;
}

.strengths_list:last-child{
    margin-right: 0;
}


.strengths_item{
    list-style: inside;
    font-family: 'Inter', sans-serif;
    font-size: 1.042vw;
    color: #5C6168;
    font-weight: 400;
    text-transform: uppercase;
}

/* Languages */

.languages_list{
    margin-top: 2.431vw;
    line-height: 1.736vw;
}

.languages_item{
    list-style: inside;
    font-family: 'Inter', sans-serif;
    font-size: 1.042vw;
    color: #5C6168;
    font-weight: 400;
    text-transform: uppercase;
}